<component name="ArtifactManager">
  <artifact type="war" name="springdemo:war">
    <output-path>$PROJECT_DIR$/springdemo/target</output-path>
    <root id="archive" name="springdemo1.war">
      <element id="artifact" artifact-name="springdemo:war exploded" />
    </root>
  </artifact>
</component>